
.heading {
  text-align: center;
}
.options{
  display: flex;
  flex-direction:row;
  margin-left: 350px;
 
}
.deck{
  display:inline;
  
}
.p{
  text-align: center;
}

.buttonstyle{

  margin-right: 50px;
  width: 200px;
}
.sortstyle{
  width:100px;
}
.shuffledlist{
  margin-left: 320px;
  margin-top: 10px;
}
.drawlist{
  margin-left: 600px;
  margin-top: 10px;
}
.sortedlist{
  margin-left: 800px;
 
}